<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
    <title>Travel Planner</title>
  </head>
  <body>
    <div class="app">
      <div class ="headline">
        <h1>Travel Planner</h1>
      </div>
      <div class="input">
        <div class ="city">
          <label for="city">Enter city here</label>
          <input type="text" id="city" placeholder="enter city code here">
        </div>
        <div class ="date">
          <label for="date">Enter date here</label>
          <input type= "date" id="tripDate" required></input>
        </div>
        <div class ="flight">
          <label for="flight">Enter flight info here</label>
          <input type="text" id="flight" placeholder="enter flight info here">
        </div>
        <div>
          <button id="generate" type = "submit"> Generate </button>
        </div>
      </div>
      <div id="output" class="resultsContainer">
        <div class="cityImg">
          <img id="cityPic" src=# class="city-img" alt="Image of City" width="500px">
        </div>
        <div class="resultsText" id ="entry">
          <div class = "entryTitle">Trip Info</div>
          <div class = "entryHolder">
            <div id = "dynamicData"></div> 
          </div>
        </div>
      </div>
      <footer>
        Copyright 2020
      </footer>
    </div>
    <script>
      // Check that service workers are supported
      if ('serviceWorker' in navigator) {
          window.addEventListener('load', () => {
              navigator.serviceWorker.register('/service-worker.js').then(registration => {
                  console.log('SW registered: ', registration);
              }).catch(registrationError => {
                  console.log('SW registration failed: ', registrationError);
              });
          });
      }
  </script>
  </body>
</html>